body {
    background-color: #d0e4fe;
    width: 100%;
    height: auto;
}

h1 {
    color: orange;
    text-align: right;
    margin-right: 40px;
    
}
p {
    font-family: "Times New Roman";
    font-size: 20px;
   color:red;
  
   margin-left: 50px;
}
div.login {

background:#1e0000;
color: #fff;
    width: 300px;
    height: 50px;
     border-width: 2px;
     padding: 10px;
      margin-left: 50px;
      vertical-align: top;
      padding-top: 0px;
 }
 div.login>h5{
  text-align: center;
  font-size: 15px;
  padding-top:20px;
 }
 table.login {
   margin-left:50px;
   border: 1px #000 solid; 
   width: 80%;
   border-color: #000;
       padding: 10px;

}
 table.usertbl {
   margin-left:50px;
   border: 1px #000 solid; 
   width: 800px;
   border-color: #000;
       padding: 10px;

}
.button{
  background:#009999;
  border-color: #fff;
  margin-top:10px; 
 margin-left: 80px;
}
.span {
  color: red;
}

#wrapperHeader{
  margin-left: 20px;
  margin-right: 20px;
    position: relative;
    width: 80%;
    height: 180px;
    background-image:url(../images/header_image.jpg);
    z-index: -999;
}
div#wrapperHeader div#header {
 width:700px;
 height:150px;


 margin-right: 200px;
}
div#wrapperHeader div#header  h1 {
  text-align: center;
  margin-top: -110px;
  margin-left: 500px;
  color: #fff;

  }

div.menu{
  margin-top:-20px;
}
.nav>ul {
    list-style-type: none;
   
    padding: 0;
    margin-top: -15px;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active){
    background-color: #111;
}
.active {
    background-color: #4CAF50;
}
div.footer{
  padding: 5px;
  background-color: #efefef;
  text-align: center;
  height:40px; 
}
div.footer>h5{
  margin-top:3px;
}
div.notice {
background:#1e0000;
color: #fff;
    width: 300px;
    height: 50px;
     border-width: 2px;
     padding: 10px;
      margin-right: 50px;
      vertical-align: top;
      padding-top: 0px;
      float:right;
 }
  

