@charset "utf-8";

table {
  border-collapse: collapse;
  border-spacing: 0;
}

fieldset, img { border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal;
}

ol, ul { list-style: none; }

caption, th { text-align: left; }

q:before, q:after {  content:;
}

abbr, acronym { border: 0; }


.clearfix { zoom: 1; }

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden;;
}




#photoGallery-container {
  width: 100%;
  margin: 15px ;
}

.photoGallery {
  width: 180px;
  height: 180px;
  padding:1px;
  -webkit-transition: all 0.5s;
  cursor: pointer;
}

.photoGallery:hover {
  -webkit-transform: scale(1.1);
  box-shadow: 0 0 2px 2px #ddd;
  opacity: .7;
  z-index: 3;
}

#photoGallery-mask {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.7;
  fliter: alpha(opacity=70);
  z-index: 9998;
  position: fixed;
  top: 0;
  left: 0;
  background: url(../img/opacity.png) repeat left top\9;
  display: none;
}

#photoGallery-mask .photoGallery-btn {
  width: 10%;
  height: 100%;
  position: absolute;
  top: 0;
}

#photoGallery-mask .photoGallery-prev-btn { left: 0; }

#photoGallery-mask .photoGallery-next-btn { right: 0; }

#photoGallery-mask .photoGallery-prev-btn-show {
  background: url(../img/prev.png) no-repeat left center;
  cursor: pointer;
}

#photoGallery-mask .photoGallery-next-btn-show {
  background: url(../img/next.png) no-repeat right center;
  cursor: pointer;
}

#photoGallery-picWrapper {
  max-width: 800px;
  max-height: 500px;
  background: #fff url(../img/loading.gif) no-repeat center center;
  border: 5px solid #fff;
  border-radius: 5px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-left: -400px;
  margin-top: -250px;
  color: #fff;
  text-align: center;
  font-size: 16px;
  z-index: 9999;
  display: none;
}

#photoGallery-picWrapper .photoGallery-close-btn {
  width: 27px;
  height: 27px;
  background: url(../img/close.png) no-repeat center center;
  position: absolute;
  right: 5px;
  top: 5px;
  z-index: 3;
  cursor: pointer;
}

#photoGallery-picWrapper .photoGallery-picCon {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

#photoGallery-picWrapper .photoGallery-picIndex {
  display: block;
  width: 100%;
  height: 40px;
  line-height: 40px;
  background: rgba(0,0,0,0.2);
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/opacity.png) repeat left top\9;
  z-index: 2;
}

#photoGallery-picWrapper .photoGallery-picDesc {
  display: block;
  width: 100%;
  height: 60px;
  line-height: 40px;
  background: rgba(0,0,0,0.3);
  position: absolute;
  bottom: 0;
  left: 0;
  background: url(../img/opacity.png) repeat left top\9;
  text-align: left;
  text-indent: 25px;
  z-index: 2;
}
