.nav-tablet {
	width:100%;
	padding:45px 20px 0px 20px;
	background-color:#ffffff;
	z-index:200;
	
	box-shadow:0px 0px 5px rgba(0,0,0,0.4);
	-moz-box-shadow:0px 0px 5px rgba(0,0,0,0.4);
	-webkit-box-shadow:0px 0px 5px rgba(0,0,0,0.4);
	
	position:absolute;	
	top:0;
	left:-100%;
	
	transition:all 0.4s ease;
	-moz-transition:all 0.4s ease;
	-webkit-transition:all 0.4s ease;
}
.nav-tablet.open {
	left:0;
}
.tablet-main-nav,
.tablet-main-nav ul {
	margin:0px;
	padding:0px;
	list-style:none;	
}
.tablet-main-nav li {
	display:block;
	line-height:40px;

	box-shadow:0 1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 1px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, 0.1);
}
.tablet-main-nav li a {
	display:block;
	padding:0px;
	color:inherit;
}

.tablet-main-nav li ul {
	width:auto;
	min-width:none;
	opacity:1;
	display:none;
	background:none;
	visibility:visible;
	opacity:1;
	filter:alpha(opacity=100);
	border-top-style:none;
	border-top-width:0px;
	position:static;
	left:0px;
	top:0px;
	transform:translate(0px, 0px);
	-moz-transform:translate(0px, 0px);
	-webkit-transform:translate(0px, 0px);
	box-shadow:0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow:0 -1px 0 rgba(0, 0, 0, 0.1);
	-webkit-box-shadow:0 -1px 0 rgba(0, 0, 0, 0.1);
}
.tablet-main-nav li.has-ul > a {
	position:relative;
}
.tablet-main-nav li.has-ul > a:after {
	width:0px;
	height:0px;

	content:'';
	display:inline-block;
	border-top:5px solid #3e3e3e;
	border-left:5px solid transparent;
	border-right:5px solid transparent;
	background-color:transparent;

	position:absolute;
	top:50%;
	right:15px;
}
.tablet-main-nav li.has-ul > a.open:after {
	width:10px;
	height:3px;
	margin-top:-1.5px;
	background-color:#3e3e3e;
	border:0px;	
}
.nav-button,
.nav-button-desk {
	width:35px;
	height:35px;
	display:none;
	background-color:rgba(0,0,0,0.4);
	cursor:pointer;

	position:relative;
}
.nav-button:before, .nav-button:after,
.nav-button-desk:before, .nav-button-desk:after {
	width:20px;
	height:1px;
	display:block;
	content:'';
	background-color:#f1f1f1;
	position:absolute;
	top:12px;
	left:7px;
	transition:all 0.6s ease;
	-moz-transition:all 0.6s ease;
	-webkit-transition:all 0.6s ease;
}
.nav-button:after,
.nav-button-desk:after {
	top:18px;
	box-shadow:0px 5px 0px #f1f1f1;
	-mozbox-shadow:0px 5px 0px #f1f1f1;
	-webkit-box-shadow:0px 5px 0px #f1f1f1;
}
.nav-tablet .nav-button {
	background-color:rgba(0, 0, 0, 0.7);
	position:absolute;
	right:20px;
	top:10px;
}
.navbar .nav-button {
	margin-top:5px;
	float:right;
}

.nav-button-desk {
	margin-top:14px;
	margin-left:5px;
	display:block;
	float:right;	
}



/*** Header Style 2 ***/
.site-header-2 {
	background-color:rgba(0,0,0,0.3);	
}
.site-header-2 .tp-bar {
	border-bottom:2px solid #ffffff;
}
.site-header-2 .navbar-default {
	background-color:transparent;
	border-bottom:0px;
	display:none;
}
.site-header-2 .navbar-default.open {
	display:block;
}

.social-links {
	color:inherit;
	text-align:center;
}
.social-links li {
	margin:0 5px;
	display:inline-block;	
}
.social-links li a {
	width:30px;
	height:30px;
	line-height:30px;
	font-size:18px;
	text-align:center;
	color:inherit;
	display:inline-block;
	border:1px solid #666666;
	
	border-radius:50%;
	-moz-border-radius:50%;
	-webkit-border-radius:50%;
}
.social-links li a:before {
	margin-right:0px;
	vertical-align:top;
}
.social-links li a.icon-dribbble:before,
.social-links li a.icon-skype:before {
	position:relative;
	top:-1px;
}


a, a:hover, .color-theme, .event-box .text a:hover, .heading h2, .heading h3, .navbar-default .navbar-nav > li > a:hover, .navbar-nav > li:hover > a, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus, .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus, .progress span.current-val, .widget_twitter > ul > li a.tweet-name, .mapbox .widget_contact a:hover, .donor-box .image figcaption a:hover, .options a:hover, .panel-title.active-heading, .progress-stats span.current-val,
.team-box .image figcaption a:hover, .widget_categories li:hover:before, .widget_archive li:hover:before {
	color:#96c052;
}

.bg-theme, .navbar-default, .dropdown-menu > li > a:hover, .navbar-nav li ul a:hover, .navbar-nav li li:hover > a, .heading h2:before, .heading h2:after, .heading h4:before, .heading h4:after, .site-bottom, .portfolio-box:hover a.more-link, .progress-bar, .btn-primary, .causes-box > figure figcaption .btn-default:hover, .pagination > li > a, .pagination > li > span, .caro-pagination a span, .caro-next:hover, .caro-prev:hover, .btn-default:hover, .highlight, .progress-fill-area .progress-fill, .scroll-up {
	background-color:#00B0E4;

}
.tp-bullets .bullet.selected {
	background-color:#96c052 !important;
}

.dropdown-menu,
 .navbar-nav li ul, 
 .newsletter-section,
  .form-control:focus, 
  .footer,
   .site-header-2 .navbar-nav > li:hover > a, 
   .site-header-2 .navbar-nav > li.active > a {
	border-color:#96c052;
}

.navbar-nav > li > .dropdown-menu:before,
.navbar-nav > li > ul:before {
	border-bottom-color:#96c052;
}

